@keyframes ldio-ox9b2dniixm {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.ldio-ox9b2dniixm div {
    position: absolute;
    animation: ldio-ox9b2dniixm 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 var(--inverted-bg-color);
    transform-origin: 80px 82px;
    box-sizing: content-box;
}

.loadingio-spinner-eclipse-n2l53445u {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgb(255 255 255 / 0%);
}

.ldio-ox9b2dniixm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
